.submit-form {
    width: 100%;
    padding: 5%;
}

.submit-form input[type=text] {
    width: 50%;
}

.submit-form > form {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.submit-form .metadata {
    display: flex;
    flex-direction: column;
}

.submit-form .metadata, .submit-form .files, .submit-form .confirmation {
    min-width: 30%;
    max-width: 80%;
}

.metadata input, .files input {
    margin: 10px;
}

.files .file-input {
    padding-left: 45px;
    position: relative;
}

.submit-form .remove-button {
    color: white;
    background-color: rgb(182, 0, 0);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0px;
    top: 25px;
}

.submit-form .add-button {
    color: white;
    background-color: darkgreen;
    font-size: 1em;
}

.required {
    color: darkred;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    background-color: darkred;
    color: white;
    border: 1px solid black;
    top: -5px;
    left: 105%; 
    padding: 3px;
    width: fit-content;
    opacity: 95%;
}