.submit-form {
    width: 100%;
    padding: 5%;
}

.submit-form > form {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.submit-form .metadata {
    display: flex;
    flex-direction: column;
}

.submit-form .metadata, .submit-form .files, .submit-form .confirmation {
    min-width: 30%;
    max-width: 80%;
}

.metadata input {
    margin: 10px;
}

.submit-form .remove-button {
    color: white;
    background-color: darkred;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.submit-form .add-button {
    color: white;
    background-color: darkgreen;
}
