.single-podfic {
    border: 1px solid darkred;
    margin: 3vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
}

.single-podfic .podfic-info-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
}

.single-podfic .podfic-title {
    font-size: 14pt;
}

.single-podfic .reader-writer {
    display: inline-block;
    margin-left: 10px;
}

.single-podfic .posted-updated {
    margin: 5px;
    margin-left: 10px;
}

.single-podfic a {
    text-decoration: none;
    color: darkred;
}

.single-podfic a:hover {
    text-decoration: underline;
}


.single-podfic .podfic-image {
    width: 20%;
}

.single-podfic .podfic-image img {
    max-width: 100%;
}